*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,input,textarea,select,button{
  font: 400 1rem "Roboto", sans-serif;
}

body{
  background: var(--back);
}
button{
  cursor: pointer;
}
a{
  color: inherit;
  text-decoration: none;
}

:root{
  --back: #313433;
  --green: #2FAC54;
  --white: #ffffff;
  --black: #000000;
}